.icheck-status-r {
    width: 50%;
    float: left;
    padding: 10px 2px 10px 2px;
    text-align: center;
    border-radius: 0;
    background: #bdbdbd;
    color: #fff;
    cursor: pointer;
}
.icheck-status-r.disable.checked {
    background: #E56C69 !important;
}
.icheck-status-r.disable.hover {
    background: #E98582;
}
.icheck-status-r.enable.hover {
    background: #24AA7A;
}
.icheck-status-r.enable.checked {
    background: #1B7E5A !important;
}

.hidden-error {
    display: none;
    direction: ltr;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

///Begard
.begardp-item {
    margin: 5px 0;
}
.begard-directory ul, .begard-file ul {
  padding-right: 0;
}
.begardp-selected {
    .begardp-selected-image {
        margin: 0 5px;
        img {
            width: 50px;
        }
    }
}

.none-begard-remove-selected span {
    margin: 0 5px;
    img {
        width: 50px;
    }
}

///DataTable
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after {
    margin-left: 5px;
}
table.table-bordered th:last-child, table.table-bordered td:last-child {
  border-left-width: 0;
  border-right-width: 1px;
}

///DatePicker
[data-name="Md-DateTimePicker-PopoverContent"] {
    font-family: 'Tehran';
    padding: 0;
    table {
        margin-bottom: 0px !important;
    }
    td[data-name="disabled-day"] {
        background: #EFEFEF;
        color: #ccc;
    }
    td {
        text-align: center;
    }
}

[data-name="Md-PersianDateTimePicker-HeaderTable"] {
    td {
        padding: 3px !important;
    }
}
[data-name="Md-DateTimePicker-Title"] {
    font-family: 'Tehran';
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.text-white {
    color: #fff;
    :hover {
        color: #fff;
    }
}

.tags-list {
    span {
        margin: 4px;
        float: right;
    }
    &:before,
    &:after {
      content: " "; // 1
      display: table; // 2
    }
    &:after {
      clear: both;
    }
}

.ms-container .ms-selectable, .ms-container .ms-selection {
    float: right !important;
}
.ms-container .ms-selection {
    float: left !important;
}
.ms-container .custom-header{
    text-align: center;
    background: #ECECEC;
    border-radius: 3px 3px 0 0;
}
.multiselect {
    display: none;
}
.ms-container .search-input {
    margin-bottom: 2px;
}

.vex.vex-theme-default .vex-content {
    font-family: @font-family;
}
