.sidebar-profile {
    padding: 0 15px 15px 15px;
    background: #FDFDFD;
    .title {
        margin-top: 0;
        padding-top: 15px;
    }
    .name {
        padding-right: 10px;
    }
    img {
        width: 45px;
        height: 45px;
    }
    &:after,
    &:before {
        display: table;
        clear: both;
        content: " ";
    }
}

.sidebar {
    .sidebar-nav.navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }

    .sidebar-search {
        padding: 15px;
    }

    ul li {
        border-bottom: 1px solid darken(@gray-lightest, 6.5%);
        a {
            &.active {
                background-color: @gray-lighter;
            }
        }
    }

    .arrow {
        float: left;
    }

    .fa.arrow:before {
        content: "\f104";
    }

    .active > a > .fa.arrow:before {
        content: "\f107";
    }

    .nav-second-level li,
    .nav-third-level li {
        border-bottom: none !important;
    }

    .nav-second-level li a {
        padding-right: 37px;
    }

    .nav-third-level li a {
        padding-right: 52px;
    }
}


@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }
}
